
.nav-container {
    top: 0;
    position: sticky;
    display: flex;
    margin-bottom: 1rem;
    background-color: #000000;
    border-radius: 3px;
}

.app-name {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: orange;
}


.menu-icon {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 30px;
    height: 0.3rem;
    margin: 2px;
    background: #fff;
}

.icon:hover {
    background-color: #000000;
}

.search {
    font-size: 2rem;
    flex: 1;
    text-align: right;
}

.notices {
    font-size: 2rem;
    flex: 1;
    text-align: right;
}

.main-menu {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #c0c0c0;
}

.video-content {
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1.5px solid #dcdcdc;
}

iframe {
    border: none;
}
.v-content {
    margin-bottom: 1rem;
}

.submit {
    height: 4rem;
    text-align: center;
    width: 100%;
}


