
.heading {
    text-align: center;
    color: #ff7100;
    font-weigth: bold;
    font-size: 2rem;
}

body {
    background-color: #21242d;
}

.back-menu-container {
    top: 0;
    position: sticky;
    display: flex;
    padding-top: 0.8rem;
    background-color: #21242d;
    border-bottom: 1px solid #373d4b;
}

.back-btn {
    flex: 1;
}

.back-btn-icon {
    margin-left: 0.8rem;
}

.container {
  margin: 0 auto;
  max-width: 80.0rem;
  padding-top: 0.5rem;
  padding: 0 0.4rem;
  width: 100%;
  box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

.nav-container {
    top: 0;
    position: sticky;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
    background-color: #21242d;
    border-bottom: 1px solid #373d4b;
}

.app-name {
    text-align: left;
    flex: 1;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ff7100;
}

.nav-options {
    text-align: right;
    height: 2rem;
}

.logo-container {
    text-align: center;
    height: 2rem;
    display: none;
}

.logo {
    height: 3rem;
    padding-left: 1rem;
}

.icon-options {
    height: 3rem;
    padding-right: 1.5rem;
}

.menu-icon {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 28px;
    height: 0.3rem;
    margin: 1.8px;
    background: #ff7100;
}

.menu-icon:hover ~ .icon {
    background-color: #000000;
}

.search {
    font-size: 2rem;
    flex: 1;
    text-align: right;
}

.notices {
    font-size: 2rem;
    flex: 1;
    text-align: right;
}

.main-menu {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #c0c0c0;
}

.video-content {
    border: 0.1px solid #273d4b;
    margin: 1.2rem 0;
    border-radius: 2px;
    background-color: #373d4b;
}

iframe {
    border: 0.1px solid #808080;
    height: 20rem;
    width: 100%;
}

.comment {
    text-align: center;
    margin: 0.4rem;
}

.post-comment {
    color: #808080;
}

.v-content {
    margin-bottom: 1rem;
}

.submit {
    height: 4rem;
    text-align: center;
    width: 100%;
}

.tb {
    height: 2rem;
    margin-bottom: 1rem;
}

label {
    font-size: 1.6rem;
    font-weight: bold;
}

p {
    font-size: 1.4rem;
    color: #fff;
}

.footer {
    margin-top: 1rem;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-tb {
    height: 2rem;
    flex: 1;
    font-size: 1.5rem;
}

.footer-btn {
   
}

.comments-container {
    margin-top: 1.5rem;
}

.heading {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
    color: #ff7100;
}

.name-description-container {
    font-size: 1.6rem;   
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.author-name {
    font-weight: bold;
    color: #fff;
}

.upload-description {
    min-height: 1.5rem;
    max-height: 5.5rem;
    overflow: hidden;
    color: #f5f5f5;
    margin: 0.5rem;
}

.upload-title {
    font-weight: 450;
    font-size: 1.8rem;
    color: #ddd;
}
.upload-description:hover {
    max-height: none;
}

.u-name {
    color: #5bb;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    iframe {
	height: 40rem;
    }
}
