/* General style */
select {
  width: auto;
}

a {
    text-decoration: none;
}
.container-main {
    margin: 1rem;
}

footer {
    bottom: 0;
    position: fixed;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  header section {
    flex-direction: row;
  }
  header nav ul {
    margin: 1rem;
  }
  .phx-logo {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}
