/* The side navigation menu */
.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScrip\
\
t */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
right: 0;
background-color: #808080; /* saddlebrown */
overflow-x: hidden; /* Disable horizontal scroll \
\
*/
padding-top: 3rem; /* Place content 30px from the\
\
 top */
transition: 0.03s; /* 0.5 second transition effec\
\
t to slide in the sidenav */
}
/* The navigation menu links */
.sidenav .a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 1.2rem;
background-color: #808080;
color: #000000;
display: block;
transition: 0.15s;
}
/* When you mouse over the navigation links, chan\
\
ge their color */
.sidenav .a:hover {
    color: #000000;
    font-weight: bold;
    background: #c0c0c0;
}


.sidenav .closebtn {
position: absolute;
top: 0;
margin-top: 0.8rem;
right: 2rem;
font-size: 2.5rem;
margin-left: 5rem;
color: #000000;
font-weight: bold;
}

