/* The side navigation menu */
.sidenav {
    border-left: 2px solid #273d4b;
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScrip\
\
t */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
right: 0;
background-color: #21242d; /* saddlebrown */
overflow-x: hidden; /* Disable horizontal scroll \
\
*/
padding-top: 5rem; /* Place content 30px from the\
\
 top */
transition: 0.5s; /* 0.5 second transition effec\
\
t to slide in the sidenav */
}
/* The navigation menu links */
.sidenav .a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 1.8rem;
font-weight: 450;
background-color: #21242d;
color: #ff7100;
display: block;
transition: 0.5s;
}
/* When you mouse over the navigation links, chan\
\
ge their color */
.sidenav .a:hover {
    color: #ff7100;
    background-color: #373d4b;
}


.sidenav .closebtn {
position: absolute;
top: 0;
margin-top: 0.8rem;
right: 2rem;
font-size: 3.2rem;
margin-left: 5rem;
color: #ff7100;
font-weight: bold;
}

