.no-comment {
    color: #fff;
    text-align: center;
    margin-top: 4rem;
}

.comment-content {
    background-color: #373d4b;
    border: 0.1px solid #808080;
    border-radius: 2px;
    color: #fff;
    /*width: -moz-fit-contennt;
    width: fit-content;*/
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
}

.commentor-name {
    background-color: #5bb;
    padding: 4px;
    margin-right: 1rem;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 15px;
    color: #000000;
    font-weight: 500;
}
