.no-comment {
    color: #fff;
    text-align: center;
    margin-top: 4rem;
}

.comment-content {
    background-color: #373d4b;
    border: 0.1px solid #808080;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
}

.commentor-name {
    color: #5bb;
    font-weight: bold;
}
