<%= render(MyTubeWeb.SharedView, "menu.html", conn: @conn) %>

<%= if @uploads == [] do %>
<div>
  <p>No available uploads yet.</p>
</div>
<% else %>
<%= for upload <- @uploads do %>
    <div>
      <p>Title: <%= upload.title %></p>
    </div>
    <% end %>
    <% end %>
    
