<div class="container-main">
<h2>Edit User info</h2>
<%= form_for @user, Routes.user_path(@conn, :update, @user.data), fn f -> %>
<%= if @user.action do %>
<div class="alert alert-danger">
  <p>Something went wrong. Please check errors below.</p>
</div>
<% end %>

<label>Edit name</label><br>
<%= text_input f, :name, class: "tb" %><br>
<%= error_tag f, :name %>
<br>
<div class="submit">
  <%= submit "Save changes", class: "btn-primary" %>
</div>
<% end %>
</div>
