
<%= render(MyTubeWeb.SharedView, "menu.html",conn: @conn) %>

  <div class="container">
<div>
  <p><b>Welcome back  <%= link @user.name, to: Routes.user_path(@conn, :edit, @user.id), method: :get %>!</b></p>
</div>

<div class="heading">
  <%= link "Upload a video", to: Routes.upload_path(@conn, :new), method: :get, class: "upload-link" %>
</div>
</div>
